//- Parameters
//- user

extends ../layout.pug

block title
    | Sign In

block page_title
    | Sign In

block buttons
    a.btn.btn-info.mr-2(href='/auth/sign_up') Sign Up

block content
    form.col-lg-6(method='post')
        .input-group.mb-2
            .input-group-prepend
                span.input-group-text#username-addon Username
            input.form-control#username(name='username',
                                        type='text',
                                        aria-label='Username',
                                        aria-describedby='username-addon')
        .input-group.mb-2
            .input-group-prepend
                span.input-group-text#password-addon Password
            input.form-control#password(name='password',
                                        type='password',
                                        aria-label='Password',
                                        aria-describedby='password-addon')
        button.btn.btn-primary(type='submit') Sign In