//- Parameters
//- user

extends ../layout.pug

block title
    | Sign Up

block page_title
    | Sign Up

block buttons
    a.btn.btn-info.mr-2(href='/auth/sign_in') Sign In

block content
    form.col-lg-6(method='post')
        .input-group.mb-2
            .input-group-prepend
                span.input-group-text#username-addon Username
            input.form-control#username(name='username',
                                        type='text',
                                        aria-label='Username',
                                        aria-describedby='username-addon')
        .input-group.mb-2
            .input-group-prepend
                span.input-group-text#password-addon Password
            input.form-control#password(name='password',
                                        type='password',
                                        aria-label='Password',
                                        aria-describedby='password-addon')
        .input-group.mb-2
            .input-group-prepend
                span.input-group-text#displayName-addon Display Name
            input.form-control#displayName(name='displayName',
                                            type='text',
                                            aria-label='Display Name',
                                            aria-describedby='displayName-addon')
        button.btn.btn-primary(type='submit') Sign Up
